name: Deploy Prd

on:
  push:
    branches:
      - main
  workflow_dispatch:
  schedule:
    - cron: "0 3 * * 4"

permissions: {}

concurrency:
  group: ${{ github.workflow }}

jobs:
  terraform-plan-and-apply-prd:
    permissions:
      contents: read
      id-token: write
    environment: Production
    runs-on: ubuntu-latest
    concurrency:
      group: ${{ github.repository }}-prd
    steps:
      - uses: frasermolyneux/actions/terraform-plan-and-apply@main
        with:
          terraform-folder: "terraform"
          terraform-var-file: "tfvars/prd.tfvars"
          terraform-backend-file: "backends/prd.backend.hcl"
          terraform-additional-args: "-var github_service_connection_pat=${{ secrets.AZDO_GITHUB_SERVICE_CONNECTION_PAT }}"
          AZURE_CLIENT_ID: ${{ vars.AZURE_CLIENT_ID }}
          AZURE_TENANT_ID: ${{ vars.AZURE_TENANT_ID }}
          AZURE_SUBSCRIPTION_ID: ${{ vars.AZURE_SUBSCRIPTION_ID }}
        env:
          AZDO_PERSONAL_ACCESS_TOKEN: ${{ secrets.AZDO_PERSONAL_ACCESS_TOKEN }}
          GITHUB_TOKEN: ${{ secrets.TERRAFORM_GITHUB_TOKEN }}
